<!DOCTYPE html>
<html>
  <head>
    <style type="text/css" media="screen">
      body {
        background-color: skyblue;
        text-decoration-color: white;
      }
    </style>
  </head>
  <body>
    <h1>Hello from the Page path!</h1>
  </body>
</html>
